$red: #a8000e;
$dark-red: #6d020c;
$white: #fbfeff;
$off-white: #f6f6f6;
$light-gray: #adadad;
$gray: #5a5a5a;
$dark-gray: #4e4e4e;
$off-black: #333;
$teal: #13ffc8;
$deep-teal: #0e9878;

$colorBackgroundPrimary: $off-black;
$colorBackgroundSecondary: $gray;
$colorBackgroundTertiary: $off-white;

$colorHeadingPrimary: $white;
$colorHeadingSecondary: #e2e9ea;
$colorHeadingTertiary: #dee5e6;

$colorBodyPrimary: #c4c9ca;
$colorBodySecondary: $light-gray;
$colorBodyTertiary: $dark-gray;