@import "colors";
@import "source";

$boxShadowUnderline: $white 0px -1px 0px 0px inset;
$boxShadowHighlight: inset 0 -.5em 0 0 $deep-teal;

html {
  font-size: 20px; // Set base size in px
  letter-spacing: -0.035em; // em needed to reference sibling font-size  
  font-family: 'Source Sans Pro', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

h1,h2,h3,p,li,th {
  margin: 0;
  font-weight: 300;
}

a {
  box-shadow: $boxShadowUnderline;
  color: $colorHeadingPrimary;
  font-weight: 300;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  box-shadow: $boxShadowHighlight;
}

h1 {
  font-size: 3rem;
  color: $colorHeadingPrimary;
  line-height: 2.6rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  text-shadow: 0.05rem 0.05rem 0.25rem #a2d8e0;
}

h2 {
  font-size: 1.5rem;
  color: $colorHeadingSecondary;
  line-height: 1.75rem;
  margin-top: 0.3rem;
}

h3 {
  font-size: 1.2rem;
  color: $colorHeadingTertiary;
  line-height: 1.4rem;
}

p {
  color: $colorBodyPrimary;
  line-height: 1.25rem;
  margin: 0.5rem 0 1rem;
}

ul {
  list-style-type: circle;
}

li,
th {
  color: $colorBodyPrimary;
  line-height: 1.25rem;
}

strong {
  font-weight: 400;
}
