// Portfolio Styles

@import "colors";

.pf-item {
  display: flex;
  flex-direction: column;
  margin: 1.4rem 0.4rem;
}

.pf-text {
  & > h2 {
    color: $red;
    font-style: italic;
    padding-top: 0.333rem;
  }
}

.pf-img {
  img {
    width: 100%;
    &.lazy {
      height: auto;
      position: absolute;
    }
  }
}

.img-wrap {
  width: 100%;
  height: 0;
  padding-bottom: 66.7%;
  position: relative;
}

@media(min-width: 46.25em) {
  .pf-text{
    flex: 2;
  }

  .pf-img {
    flex: 1.7;
    margin: auto 0;
  }

  .pf-item:nth-of-type(2n-1) {
    flex-direction: row-reverse;
    .pf-text {
      padding-right: 0.9rem;
    }
  }

  .pf-item:nth-of-type(2n) {
    flex-direction: row;
    .pf-text {
      padding-left: 0.9rem;
    }
  }
}
