// Standard Styles

@import "typography";
@import "background";
@import "fa";

.hidden {
  display: none;
}

.main {
  text-align: center;
}

.container {
  background-color: $off-white;
  box-shadow: 0.05rem 0.1rem 0.25rem $gray;
  border-bottom-left-radius: 2.566665rem;
  border-bottom-right-radius: 2.566665rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: inline-block;
  min-width: calc(100% - 2.5rem);
  padding: 0 1.25rem;
  text-align: left;
  & > h2 {
    margin-bottom: 1rem;
  }
}

.nav {
  max-height: 1.3rem;
  a {
    font-size: 0.9rem;
    color: inherit;
    line-height: 1.25rem;
    letter-spacing: normal;
    padding: 0.15rem 0.8rem;
    border: 0.15rem $off-black;
    background-color: $off-white;
    box-shadow: 0.05rem 0.1rem 0.25rem $gray;
    border-radius: 0.333rem 0.333rem 0 0;
    cursor: pointer;
    &:first-of-type {
      margin-left: 0.3rem;
    }
    &.active {
      color: $red;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2.3rem;
  padding-top: 0.9rem;
  a {
    color: $off-black;
    padding-right: 0.5rem;
    &:hover,
    &:focus,
    &:active {
      color: $red;
      text-decoration: none;
    }
  }
}

.fa.prog-125 {
  font-size: 12.5vw;
}

.bar {
  height: 0.05rem;
  width: 100%;
  max-width: 30rem;
  margin: 2.2rem auto 1.3rem;
  background-color: $off-black;
}

.blog-img {
  width: 100%;
  margin: auto;
  padding: 1rem 0 0.5rem;
}

@media(min-width: 34.37em) {
  body > div {
    max-width: 39.5rem;
    margin: auto;
  }

  .container {
    margin: auto auto 4rem;
  }
  
  .wide {
    > div {
      max-width: 52.5rem;
    }
    .container {
      max-width: 50rem;
    }
  }
}

@media(min-width: 50.375em) {
  .fa.prog-125 {
    font-size: 5rem;
  }
}
