// Standard Styles

@import "typography";
@import "fa";
@import "colors";

@keyframes rotation {
  0% {
    --angle: 0deg;
    filter: blur(10px);
  }
  100% {
    --angle: 360deg;
    filter: blur(10px);
  }
}

body {
  background-color: black;
}

.hidden {
  display: none;
}

.main {
  text-align: center;
}

.container {
  background-color: $colorBackgroundPrimary;
  box-shadow: 0.05rem 0 0.25rem $gray;
  outline: transparent 2px inset;
  border-bottom-left-radius: 2.566665rem;
  border-bottom-right-radius: 2.566665rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  display: inline-block;
  min-width: calc(100% - 2.5rem);
  padding: 0 1.25rem;
  position: relative;
  text-align: left;
  & > h2 {
    margin-bottom: 1rem;
  }

  &:before {
    --angle: 0deg;
    background: conic-gradient(from var(--angle), #27faf8, #2767fa, #7227fa, #e227fa, #fa2799, #fab027, #e6fa27, #48fa27, #27faf8);
    border-bottom-left-radius: 2.566665rem;
    border-bottom-right-radius: 2.566665rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    content:"";
    filter: blur(10px);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    animation: rotation 15s linear infinite;
    z-index: -1;
  }
  
}

.nav {
  max-height: 1.3rem;

  a {
    font-size: 0.9rem;
    color: $colorHeadingSecondary;
    line-height: 1.25rem;
    letter-spacing: normal;
    padding: 0.15rem 0.8rem;
    border: 0.15rem $off-white;
    background-color: $colorBackgroundPrimary;
    box-shadow: 0.05rem 0.1rem 0.25rem $gray;
    border-radius: 0.333rem 0.333rem 0 0;
    cursor: pointer;

    &:first-of-type {
      margin-left: 0.3rem;
    }

    &.active {
      color: $colorHeadingPrimary;

      span {
        box-shadow: $boxShadowUnderline;
      }
    }

    &:active,
    &:hover,
    &:focus {
      color: $colorHeadingPrimary;
      
      span {
        box-shadow: $boxShadowHighlight;
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2.3rem;
  padding-top: 0.9rem;
  a {
    box-shadow: none; 
    color: $colorBodyPrimary;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    &:hover,
    &:focus,
    &:active {
      box-shadow: $boxShadowHighlight;
      color: $colorHeadingPrimary;
      text-decoration: none;
    }
  }
}

.fa.prog-125 {
  font-size: 12.5vw;
}

.bar {
  height: 0.05rem;
  width: 100%;
  max-width: 30rem;
  margin: 2.2rem auto 1.3rem;
  background-color: $colorBackgroundTertiary;
}

.blog-img {
  width: 100%;
  margin: auto;
  padding: 1rem 0 0.5rem;
}

@media(min-width: 34.37em) {
  body > div {
    max-width: 39.5rem;
    margin: auto;
  }

  .container {
    margin: auto auto 4rem;
  }
  
  .wide {
    > div {
      max-width: 52.5rem;
    }
    .container {
      max-width: 50rem;
    }
  }
}

@media(min-width: 50.375em) {
  .fa.prog-125 {
    font-size: 5rem;
  }
}
