@use "colors";

.grid {
  display: grid;
  background-color: #121213;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.25rem;
  padding: 0.5rem;
  box-sizing: border-box;
  max-width: 25rem;
  margin: auto;
  border-radius: 0.25rem;
}

.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #ffffff;
  text-transform: uppercase;
  user-select: none;
  border: 0.1rem solid #3a3a3c;

  &::before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
  }
}

.not-in-word {
  background-color: #3a3a3c;
}

.elsewhere-in-word {
  border: 0.1rem solid #b59f3b;
  background-color: #b59f3b;
}

.correctly-placed {
  border: 0.1rem solid #538d4e;
  background-color: #538d4e;
}

.word-list {
  max-width: 25rem;
  margin: auto;
  max-height: 20rem;
  overflow: scroll;
  border: 0.1rem solid #121213;
  border-radius: 0.25rem;
}

.word {
  font-size: 2rem;
  text-align: center;
  padding: 0.2rem;
  border: 0.1rem solid #121213;
  border-radius: 0.25rem;
  background-color: #5a5a5a;
  margin: 0.1rem;
}

.guess {
  background-color: #538d4e;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;

  & > div {
    text-align: center;
  }

  & > p {
    font-weight: unset;
  }
}

.dummy {
  position: absolute;
  top: 32rem;
  z-index: -1;
  width: 80%;
  font-size: 2rem;
  caret-color: transparent;
  max-width: 37rem;
}

.button-container {
  text-align: center;
}

.checkbox-container {
  align-items: center;
  color: colors.$colorBodyPrimary;
  display: flex;
  font-weight: 300;
  gap: 0.2rem;
  justify-content: center;
  padding-bottom: 0.5rem;
  
  & > * {
    cursor: pointer;
  }

  & > input[type="checkbox"] {
    appearance: initial;

    &:after {
      content: "❌";
    }

    &:checked {

      &:after {
        content: "✅";
      }
    }
  }

  & > label {
    padding-bottom: 0.1rem;
  }
}

button {
  appearance: none;
  cursor: pointer;
  color: unset;
  width: 80%;
  max-width: 20rem;
  appearance: none;
  border: 0.1rem solid #121213;
  border-radius: 0.25rem;
  background-color: #538d4e;
  font-size: 1.5rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
}

.center-text {
  text-align: center;
}

.small-text {
  font-size: 0.7rem;

  & > p {
    margin: 0;
  }

  & > p:last-child {
    margin-bottom: 1rem;
  }
}

.smallish-text {
  font-size: 0.85rem;
  margin: auto;
}

.guess-header {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
  grid-gap: 0.25rem;
  padding: 0 0.5rem 0.2rem;
  max-width: 24.2rem;
  margin: auto;

  & > div {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    color: colors.$colorBodyPrimary;
    font-weight: 300;

    &.smallish-text {
      font-size: 0.7rem;
      line-height: 0.8rem;
    }
  }
  &.hidden {
    display: none;
  }
}