body {
  background: linear-gradient(45deg, #27faf8, #2767fa, #7227fa, #e227fa, #fa2799, #fab027, #e6fa27, #48fa27, #27faf8);
  background-size: 2000% 2000%;

  -webkit-animation: Gradiance 72s ease infinite;
  -moz-animation: Gradiance 72s ease infinite;
  animation: Gradiance 72s ease infinite;
}

@keyframes Gradiance {
  0% {
    background-position: 0% 0%
  }

  25% {
    background-position: 100% 0%
  }

  50% {
    background-position: 100% 90%
  }

  75% {
    background-position: 0% 90%
  }

  100% {
    background-position: 0% 0%
  }
}

@-webkit-keyframes Gradiance {
  0% {
    background-position: 0% 0%
  }

  25% {
    background-position: 100% 0%
  }

  50% {
    background-position: 100% 90%
  }

  75% {
    background-position: 0% 90%
  }

  100% {
    background-position: 0% 0%
  }
}

@-moz-keyframes Gradiance {
  0% {
    background-position: 0% 0%
  }

  25% {
    background-position: 100% 0%
  }

  50% {
    background-position: 100% 90%
  }

  75% {
    background-position: 0% 90%
  }

  100% {
    background-position: 0% 0%
  }
}
