.fa {
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
.fa-envelope-o:before {
  content:"\f003"
}
.fa-file-text-o:before {
  content:"\f0f6"
}
.fa-github:before {
  content:"\f09b"
}
.fa-linkedin:before {
  content:"\f0e1"
}