@import "colors";

html {
  font-size: 20px; // Set base size in px
  letter-spacing: -0.035em; // em needed to reference sibling font-size  
  font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,p {
  margin: 0;
  font-weight: 300;
}

a {
  color: $red;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: $dark-red;
}

h1 {
  font-size: 3rem;
  color: $red;
  line-height: 2.6rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  text-shadow: 0.05rem 0.05rem 0.25rem $light-gray;
}

h2 {
  font-size: 1.5rem;
  color: $dark-gray;
  line-height: 1.75rem;
  margin-top: 0.3rem;
}

h3 {
  font-size: 1.2rem;
  color: $dark-gray;
  line-height: 1.4rem;
}

p {
  line-height: 1.25rem;
  margin: 0.5rem 0 1rem;
}

ul {
  list-style-type: circle;
}

li {
  font-family: inherit
}
