.wufoo {
	font-family: 'Roboto', sans-serif !important;
	font-size: 17px;
}
li.focused {
    background-color: transparent !important;
}
.wufoo input.text{
	width: 100%;
    box-sizing: border-box;
    height: 32px;
    padding-left: 5px;
	border-width: 1px;
	border-color: black;
	background: none;
}
textarea {
    border-width: 1px !important;
    border-color: black !important;
    background: none! important;
    padding-left: 5px !important;
    box-sizing: border-box;
}
input.text:focus, textarea:focus{
	outline: none;
    border-color: #98af49 !important;
    border-style: solid;
}
form li span{
	width: 49%;
	margin-right: 1% !important;
}