.wufoo {
	font-family: 'Roboto', sans-serif !important;
	font-size: 17px;
}
li.focused {
    background-color: transparent !important;
}
.wufoo input.text{
	width: 100%;
    box-sizing: border-box;
    height: 32px;
    padding-left: 5px;
	border-width: 1px;
	border-color: black;
	background: none;
}
input.text:focus{
	outline: none;
    border-color: #98af49;
    border-style: solid;
}
form li span{
	width: 48%;
}