.wufoo {
	font-family: 'Roboto', sans-serif !important;
	font-size: 17px;
}
li.focused {
    background-color: transparent !important;
}
form li {
	display: flex;
}
li > label {
	flex-grow: 2;
}
li > div, li > span {
	flex-grow: 1;
}
input.text {
	width: 100%;
	padding-left: 2px;
}
label.desc {  
	width: auto;
}