---
# Portfolio Styles
---
@import "colors";

.pf-item {
  display: flex;
  flex-direction: row;
  margin: 1.4rem 0.4rem;
}

.pf-item:nth-of-type(2n) {
  flex-direction: row-reverse;
  .pf-text {
    padding: 0 0 0 0.9rem;
  }
}

.pf-text {
  flex: 2;
  padding: 0 0.9rem 0 0;
  & > h2 {
    color: $red;
    font-style: italic;
    padding-top: 0.333rem;
  }
}

.pf-img {
  flex: 1.7;
  margin: auto 0;
  max-width: 25rem;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media(max-width: 740px) {

  .pf-item,
  .pf-item:nth-of-type(2n) {
    flex-direction: column-reverse;
  }

  .pf-text,
  .pf-item:nth-of-type(2n) .pf-text {
    padding: 0;
  }

  .pf-img {
    margin: auto;
  }
}