body {
  background: linear-gradient(45deg, #27faf8, #2767fa, #7227fa, #e227fa, #fa2799, #fab027, #e6fa27, #48fa27, #27faf8);
  background-size: 2000% 2000%;

  -webkit-animation: Gradiance 72s ease infinite;
  -moz-animation: Gradiance 72s ease infinite;
  animation: Gradiance 72s ease infinite;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

a {
  color: #a8000e;
  text-decoration: none;
  font-weight: 100;
}

a:hover,
a:focus,
a:active {
  color: rgb(109, 2, 12);
}

h1 {
  display: inline-block;
  font-size: 3em;
  text-shadow: 1px 1px 5px #adadad;
  color: #a8000e;
  margin: 10px 0px 0px 0px;
  line-height: 52px;
  letter-spacing: -0.7px;
  font-weight: 100;
  padding: 10px 0px;
}

h2 {
  font-size: 1.5em;
  line-height: 35px;
  letter-spacing: -0.7px;
  font-weight: 100;
  margin: 6px 0px 0px 0px;
  color: #4e4e4e;
}

h3 {
  font-size: 1.2em;
  line-height: 28px;
  letter-spacing: -0.7px;
  margin: 0px;
  font-weight: 100;
  color: #4e4e4e;
}

ul {
  list-style-type: circle;
}

li {
  font-family: inherit
}

p {
  line-height: 25px;
  font-weight: 100;
  letter-spacing: -0.7px;
  margin-top: 10px;
}

.icon:hover,
.icon:focus,
.icon:active {
  color: #a8000e;
}

.main {
  position: relative;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 46px;
  padding-top: 18px;
}

.container {
  background-color: rgb(246, 246, 246);
  box-shadow: 1px 2px 5px rgb(90, 90, 90);
  padding: 0px 25px;
  max-width: 740px;
  max-height: calc(100% - 35px);
  height: 100%;
  border-radius: 5px;
  z-index: 2;
  margin: auto auto 80px;
}

.icon {
  padding-right: 10px;
  color: #333;
}

.icon:hover,
.icon:focus {
  color: #a8000e;
  text-decoration: none;
}

.pf-item {
  display: flex;
  flex-direction: row;
  padding: 28px 8px;
}

.pf-item:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.pf-text {
  flex: 2;
  padding: 0px 18px 0px 0px;
}

.pf-item:nth-of-type(2n) .pf-text {
  padding: 0px 0px 0px 18px;
}

.pf-img {
  flex: 1.7;
  margin: auto 0px;
  max-width: 500px;
}

.pf-img img {
  display: block;
  width: 100%;
  height: auto;
}

.pf-item-title {
  color: #a8000e;
  font-style: italic;
  padding-top: 10px;
}

.button {
  border: 3px #333;
  line-height: 25px;
  padding: 3px 16px;
  box-shadow: 1px 2px 5px rgb(90, 90, 90);
  border-radius: 8px 8px 0px 0px;
  font-family: inherit;
  background-color: rgb(246, 246, 246);
  font-size: 18px;
  font-weight: 100;
  color: inherit;
  cursor: pointer;
}

.button:first-of-type {
  margin-left: 6px;
}

.active {
  color: #a8000e;
}

.bar {
  background-color: #333;
  height: 1px;
  width: 100%;
  margin: 44px auto 26px;
  max-width: 600px;
}

.blog-img {
  width: 100%;
  margin: auto;
  padding: 20px 0px 10px;
}

.nav {
  max-width: 790px;
  margin: auto;
}

.nav.wide {
  max-width: 1050px;
}

.container.wide {
  max-width: 1000px;
}

@media(max-width: 740px) {

  .pf-item,
  .pf-item:nth-of-type(2n) {
    flex-direction: column-reverse;
  }

  .pf-text,
  .pf-item:nth-of-type(2n) .pf-text {
    padding: 0px;
  }

  .pf-img {
    margin: auto;
  }
}

@media(max-width: 550px) {
  .fa.fa-5x {
    font-size: 4em;
  }

  .container {
    margin: auto;
  }
}

@media(max-width: 450px) {
  .fa.fa-5x {
    font-size: 3em;
  }
}

@-webkit-keyframes Gradiance {
  0% {
    background-position: 0% 0%
  }

  25% {
    background-position: 100% 0%
  }

  50% {
    background-position: 100% 90%
  }

  75% {
    background-position: 0% 90%
  }

  100% {
    background-position: 0% 0%
  }
}

@-moz-keyframes Gradiance {
  0% {
    background-position: 0% 0%
  }

  25% {
    background-position: 100% 0%
  }

  50% {
    background-position: 100% 90%
  }

  75% {
    background-position: 0% 90%
  }

  100% {
    background-position: 0% 0%
  }
}

@keyframes Gradiance {
  0% {
    background-position: 0% 0%
  }

  25% {
    background-position: 100% 0%
  }

  50% {
    background-position: 100% 90%
  }

  75% {
    background-position: 0% 90%
  }

  100% {
    background-position: 0% 0%
  }
}