body {
  background-color: rgb(204, 204, 204);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

footer {
  position: fixed;
  font-size: 0.75em;
  right: 0px;
  bottom: 0px;
  height: 35px;
  z-index: 2;
  text-align: right;
  width: 100%;
}

a {
  color: #a8000e;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: rgb(109, 2, 12);
}

.icon:hover,
.icon:focus,
.icon:active {
  color: #a8000e;
}

.border {
  height: 1px;
  width: 100%;
  background-color: #333;
  margin-bottom: 3px;
}

#header {
  text-align: right;
  height: 60px;
  width: auto;
}

#main {
  margin-top: 40px;
  height: calc(100% - 110px);
  position: relative;
  background-color: rgb(204, 204, 204);
  width: 100%;
}

#wrapper {
  margin: 0 auto -100px;
  height: 100%;
}

#contacts {
  text-align: left;
  display: inline-block;
}

h1 {
  display: inline-block;
  font-size: 3em;
  color: #a8000e;
  margin: 10px 0px 0px 0px;
  line-height: 52px;
  letter-spacing: -0.7px;
  font-weight: 500;
  padding: 10px 0px;
}

h2 {
  font-size: 1.5em;
  line-height: 35px;
  letter-spacing: -0.7px;
  font-weight: 500;
  margin: 6px 0px 0px 0px;
  color: #4e4e4e;
}

p {
  line-height: 25px;
  letter-spacing: -0.7px;
}

.glassBox {
  background-color: rgb(224, 224, 224);
  padding-right: 25px;
  padding-left: 25px;
  max-width: 740px;
  max-height: calc(100% - 35px);
  height: 100%;
  border-radius: 5px;
  z-index: 2;
  margin: auto;
}

.icon {
  padding-right: 10px;
  color: #333;
}

.icon:hover,
.icon:focus,
  {
  color: #a8000e;
  text-decoration: none;
}

@media(max-width: 400px) {
  .fa-5x {
    font-size: 4em !important;
  }
}