<!DOCTYPE html>
<html lang="en">

<title> {{ site.title }} | {{ page.title }} </title>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {%- else -%}
  <meta name="description" content="{{ site.description }}">
  {% endif %}
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/favicon/site.webmanifest">

  {%- capture fontfaces -%}
  {%- include styles/inline-fonts.scss -%}
  {% endcapture %}
  <style>
    {{ fontfaces | scssify }}
  </style>
  {%- capture styles -%}
  {%- include styles/stylish.scss -%}
  {% endcapture %}
  <style>
    {{ styles | scssify }}
  </style>
  {%- if page.tags contains 'css' -%}
  {%- capture extra_styles -%}
  {%- include styles/{{ page.name | replace: ".md", "" }}.scss -%}
  {% endcapture %}
  <style>
    {{ extra_styles | scssify }}
  </style>
  {%- endif -%}
  {%- if page.layout == "post" -%}
  {%- capture layout_styles -%}
  {%- include styles/blog.scss -%}
  {% endcapture %}
  <style>
    {{ layout_styles | scssify }}
  </style>
  {%- endif -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143817336-1"></script>
  <script>
    {% include scripts/ga.js %}
  </script>
  {% if page.tags contains 'min-js' %}
  <script>
    {% include scripts/{{ page.name | replace: '.md', '' }}.min.js %}
  </script>{% elsif page.tags contains 'js' %}
  <script>
    {% include scripts/{{ page.name | replace: '.md', '' }}.js %}
  </script>{% endif %}
</head>
<body{% if page.tags contains 'wide' %} class="wide"{% endif %}>
  <div class="nav">
    {%- assign pages = site.pages | where_exp: "i", "i.place-in-menu" | sort: "place-in-menu" -%}
    {% for p in pages %}
    <a href="{{ p.url }}"{% if p.title == page.title %} class="active"{% endif %}><span>{{ p.title }}</span></a>
    {%- endfor -%}
    {% if page.categories contains 'class' %}
    <a href="/class-blog" class="active"><span>Class&nbsp;Blog</span></a>
    {%- endif -%}
  </div>
  <div>
    <div class="container">
      {{ content }}
      <div class="bar"></div>
      <div class="footer">
        <a href="/contact" aria-label="Contact">
          <i class="fa prog-125 fa-envelope-o"></i>
        </a>
        <a href="/resume" aria-label="Resume">
          <i class="fa prog-125 fa-file-text-o"></i>
        </a>
        <a href="/github" target="_blank" rel="noreferrer" aria-label="GitHub">
          <i class="fa prog-125 fa-github"></i>
        </a>
        <a href="/rubygems" target="_blank" rel="noreferrer" aria-label="rubygems.org">
          <i class="fa prog-125 fa-rubygems"></i>
        </a>
        <a href="/linkedin" target="_blank" rel="noreferrer" aria-label="LinkedIn">
          <i class="fa prog-125 fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <script>
    {% include scripts/lazyload.js %}
  </script>
  <script>
    {% include scripts/cloudflare-email-decode.js %}
  </script>
</body>
</html>
