<!DOCTYPE html>
<html lang="en">

<title> {{ site.title }} | {{ page.title }} </title>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

  {%- capture fontfaces -%}
  {%- include styles/inline-fonts.scss -%}
  {% endcapture %}
  <style>
    {{ fontfaces | scssify }}
  </style>

  {% if page.tags contains 'has-italics' %}
  {%- capture italics -%}
  {%- include styles/italic-fonts.scss -%}
  {% endcapture %}
  <style>
    {{ italics | scssify }}
  </style>
  {% endif %}

  {%- capture styles -%}
  {%- include styles/stylish.scss -%}
  {% endcapture %}
  <style>
    {{ styles | scssify }}
  </style>
  {%- if page.tags contains 'css' -%}
  {%- capture extra_styles -%}
  {%- include styles/{{ page.name | replace: ".md", "" }}.scss -%}
  {% endcapture %}
  <style>
    {{ extra_styles | scssify }}
  </style>
  {%- endif -%}
  {%- if page.layout == "post" -%}
  {%- capture layout_styles -%}
  {%- include styles/blog.scss -%}
  {% endcapture %}
  <style>
    {{ layout_styles | scssify }}
  </style>
  {%- endif -%}
  {% if page.tags contains 'js' %}
  <script>
    {% include scripts/{{ page.name | replace: '.md', '' }}.js %}
  </script>{% endif %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143817336-1"></script>
  <script>
    {% include scripts/ga.js %}
  </script>
</head>
<body{% if page.tags contains 'wide' %} class="wide"{% endif %}>
  <div class="nav">
    {%- assign pages = site.pages | where_exp: "i", "i.place-in-menu" | sort: "place-in-menu" -%}
    {% for p in pages %}
    <a href="{{ p.url }}"{% if p.title == page.title %} class="active"{% endif %}>{{ p.title }}</a>
    {%- endfor -%}
    {% if page.categories contains 'class' %}
    <a href="/class-blog" class="active">Class&nbsp;Blog</a>
    {%- endif -%}
  </div>
  <div>
    <div class="container">
      {{ content }}
      <div class="bar"></div>
      <div class="footer">
        <a href="/cdn-cgi/l/email-protection#{{ site.email | encode }}" target="_blank" rel="noreferrer" aria-label="Email">
          <i class="fa fa-envelope-o fa-3x"></i>
        </a>
        <a href="/resume" aria-label="Resume">
          <i class="fa fa-file-text-o fa-3x"></i>
        </a>
        <a href="/github" target="_blank" rel="noreferrer" aria-label="GitHub">
          <i class="fa fa-github fa-3x"></i>
        </a>
        <a href="/linkedin" target="_blank" rel="noreferrer" aria-label="LinkedIn">
          <i class="fa fa-linkedin fa-3x"></i>
        </a>
      </div>
    </div>
  </div>
  <script>
    {% include scripts/cloudflare-email-decode.js %}
  </script>
</body>
</html>
