---
layout: default
excerpt_separator: <!-- e -->
---
<h1>{{ page.title }}</h1>
<h2>{{ page.subtitle }}</h2>
{% include modules/image image=page.image title=page.title class="blog-img"%}
<h3>By Sean Hofer&ensp; |&ensp; {{ page.date | date: '%B %d, %Y'}}</h3>
<div style="width:100%; height:20px;"></div>

{% include modules/kill_runts content=content %}

{%- for cat in page.categories -%}
  {%- for post in site.categories[cat] -%}
    {%- if post.url == page.url -%}
      {%- assign post_index0 = forloop.index0 -%}
      {%- assign post_index1 = forloop.index -%}
    {%- endif -%}
  {%- endfor -%}
  {%- for post in site.categories[cat] -%}
    {%- if post_index0 == forloop.index -%}
      {%- assign next_post = post -%}
    {%- endif -%}
    {%- if post_index1 == forloop.index0 -%}
      {%- assign prev_post = post -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

{%- if prev_post or next_post -%}
<div class="post-nav">
{%- if prev_post -%}
  <a class="post prev" href="{{ prev_post.url }}">{{ prev_post.title }}</a>
{%- endif -%}
{%- if next_post -%}
  <a class="post next" href="{{ next_post.url }}">{{ next_post.title }}</a>
{%- endif -%}
</div>
{%- endif -%}