<picture>
  <source type="image/webp" media="(min-width:1024px)" srcset="/assets/images/{{ include.image }}-1280w.webp">
  <source type="image/webp" media="(min-width:960px)" srcset="/assets/images/{{ include.image }}-1024w.webp">
  <source type="image/webp" media="(min-width:740px)" srcset="/assets/images/{{ include.image }}-960w.webp">
  <source type="image/webp" media="(min-width:640px)" srcset="/assets/images/{{ include.image }}-1440w.webp">
  <source type="image/webp" media="(min-width:512px)" srcset="/assets/images/{{ include.image }}-1280w.webp">
  <source type="image/webp" media="(min-width:480px)" srcset="/assets/images/{{ include.image }}-1024w.webp">
  <source type="image/webp" media="(min-width:320px)" srcset="/assets/images/{{ include.image }}-960w.webp">
  <source type="image/webp" media="(min-width:240px)" srcset="/assets/images/{{ include.image }}-640w.webp">
  <source type="image/webp" media="(min-width:160px)" srcset="/assets/images/{{ include.image }}-480w.webp">
  <source type="image/webp" media="(min-width:0px)" srcset="/assets/images/{{ include.image }}-320w.webp">
  <source type="image/jpeg" media="(min-width:1024px)" srcset="/assets/images/{{ include.image }}-1280w.jpg">
  <source type="image/jpeg" media="(min-width:960px)" srcset="/assets/images/{{ include.image }}-1024w.jpg">
  <source type="image/jpeg" media="(min-width:740px)" srcset="/assets/images/{{ include.image }}-960w.jpg">
  <source type="image/webp" media="(min-width:640px)" srcset="/assets/images/{{ include.image }}-1440w.webp">
  <source type="image/jpeg" media="(min-width:512px)" srcset="/assets/images/{{ include.image }}-1280w.jpg">
  <source type="image/jpeg" media="(min-width:480px)" srcset="/assets/images/{{ include.image }}-1024w.jpg">
  <source type="image/jpeg" media="(min-width:320px)" srcset="/assets/images/{{ include.image }}-960w.jpg">
  <source type="image/jpeg" media="(min-width:240px)" srcset="/assets/images/{{ include.image }}-640w.jpg">
  <source type="image/jpeg" media="(min-width:160px)" srcset="/assets/images/{{ include.image }}-480w.jpg">
  <source type="image/jpeg" media="(min-width:0px)" srcset="/assets/images/{{ include.image }}-320w.jpg">
  <img src="/assets/images/{{ include.image }}.jpg" alt="{{ include.title }}" {% if include.class %}class="{{ include.class }}"{% endif %}>
</picture>
